.header {
  background: var(--white);
}

.header_page {
  background: var(--grey-0);
  margin-bottom: 60px;
  grid-area: header;
}

.header__top {
  margin-top:24px;
  display: flex;
  justify-content: space-between;
}

.header__title {
  margin: 38px 0 40px 0px;
  font-family: Inter;
  font-size: 50px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}