.tabs {
  overflow: hidden;
}

.tabs__preview > a {
  text-decoration: none;
  color:inherit;
}

.tabs__scroller {
  background: var(--white);
}

.tabs__menu {
  overflow-x: scroll;
  display: flex;
  gap: 40px;
  height: 37px;
}

.tabs__menu::-webkit-scrollbar {
  display: none;
}

.tabs__label {
  position: relative;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--grey-3);
  white-space: nowrap;
}

.tabs__input {
  display: none;
}

input[id='#all-tab']:checked~.tabs__scroller .tabs__label[for='#all-tab'],
input[id='#complex-tab']:checked~.tabs__scroller .tabs__label[for='#complex-tab'],
input[id='#simple-tab']:checked~.tabs__scroller .tabs__label[for='#simple-tab']
{
  color: var(--black);
}

input[id='#all-tab']:checked~.tabs__scroller .tabs__label[for='#all-tab']:after,
input[id='#complex-tab']:checked~.tabs__scroller .tabs__label[for='#complex-tab']:after,
input[id='#simple-tab']:checked~.tabs__scroller .tabs__label[for='#simple-tab']:after 
{
  content: "";
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  bottom: 0;
  background-color: var(--black);
}

input[id='#complex-tab']:checked~.tabs__content .tabs__element:not(.tabs__element_complex),
input[id='#simple-tab']:checked~.tabs__content .tabs__element:not(.tabs__element_simple)
{
  display: none;
}

.tabs__content {
  background: #F9FAFC;
}

.tabs__preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(350px, auto);
  gap: 30px;
  padding: 15px 0px;
}

.tabs__preview:first-child {
  padding-top: 68px;
}

.tabs__preview:last-child {
  padding-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .tabs__menu {
    gap: 24px;
  }
  .tabs__preview {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 231px;
  }

  .tabs__preview:first-child {
    padding-top: 24px;
  }

  .tabs__preview:last-child {
    padding-bottom: 24px;
  }
}