.button {
  color: var(--button-text);
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875em;
  letter-spacing: 0em;
  text-align: center;
  height: 3em;
}

.button__text {
  margin: 0.875em auto;
}


.button_primary {
  background: var(--primary);
}

.button_primary:hover {
  background: var(--primary-hover);
}

.button_secondary {
  background: var(--secondary);
}

.button_secondary:hover {
  background: var(--secondary-hover);
}

.button_alternate {
  color: var(--grey-4);
  background: none;
  border: 1px solid var(--grey-3);
}

.button_alternate:hover {
  border: 1px solid var(--grey-4);
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 12px;
  }
}
