.toggler {
  font-size: (--font-small);
  display: inline-flex;
  position: relative;
}

.toggler__input {
  position: absolute;
  width: 0;
  height: 0;
}

.toggler__state {
  display: flex;
  align-items: center;
  gap: 0.75em;
  cursor: pointer;
}

.toggler__control {
  position: relative;
  box-sizing: border-box;
  border: 1px solid var(--grey-2);
  width: 3.25em;
  height: 1.75em;
  border-radius: 0.875em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
}

.toggler__title {
  color: var(--grey-4);
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
}

.toggler__icon {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  border: 1px solid var(--white);
  border-radius: 0.78125em;
  width: 1.625em;
  aspect-ratio: 1/1;
  background: var(--grey-2);
}

.toggler__input:disabled~.toggler__state 
.toggler__control {
  background: var(--grey-2);
}

.toggler__input:disabled~.toggler__state 
.toggler__icon {
  border-color: var(--grey-2);
  background: var(--grey-3);
  opacity: 25%;
}

.toggler__input:disabled~.toggler__state {
  cursor: default;
}

.toggler__input:checked~.toggler__state 
.toggler__control {
  border-color: var(--blue);
  background: var(--blue);
}

.toggler__input:checked~.toggler__state
.toggler__icon {
  left: auto;
  right: 0;
  border-color: var(--blue);
  background: var(--white);
}

.toggler__input:focus ~.toggler__state 
.toggler__title {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .toggler {
    font-size: calc(var(--font-small) * 0.8);
  }
}