.histogram {
  min-width: 354px;
  width:fit-content;
  height: 185px;
  border: 1px solid var(--grey-3);
  border-radius: 12px;
  padding: 16px 24px 24px 24px;
  box-sizing: border-box;
  font-family: Inter;
}

.histogram__header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.histogram__header_title {
  text-align: left;
}

.histogram__header_link {
    margin-top: 3px; /*16 padding parent + 3 ours = 19*/
    text-align: right;
    color: var(--blue);
    text-decoration: none;
  }

.histogram__value {

  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 39px;
}

.histogram__chart {
  margin-top: 6px;
}

.histogram__data {
  display: flex;
  height: 50px;
  color: var(--blue);
  gap: 1px;
  justify-content: space-between;
  align-items:flex-end;
}

.histogram__data_small {
  flex-grow: 1;
  width: 1px;
  height: 33%;
  background: var(--blue);
}

.histogram__data_medium {
  flex-grow: 1;
  width: 1px;
  height: 66%;
  background: var(--blue);
}

.histogram__data_large {
  flex-grow: 1;
  min-width: 1px;
  height: 100%;
  background: var(--blue);
}


