.histogram {
  position: relative;
  flex-grow: 1;
  flex: 1;
  border: 1px solid var(--grey-3);
  border-radius: 0.75em;
  box-sizing: border-box;
  font-family: Inter;
  overflow: hidden;
}

.histogram__header {
  position: absolute;
  top: 8.65%;
  left: min(24px, 6.78%);
  right: min(24px, 6.78%);
  display: flex;
  justify-content: space-between;
  font-size: var(--font-small);
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0em;
}

.histogram__title {
  text-align: left;
  white-space: nowrap;
}

.histogram__link {
    margin-top: 0.1875em; /*16 padding parent + 3 ours = 19*/
    margin-left: 1.25em;
    text-align: right;
    color: var(--blue);
    text-decoration: none;
  }

.histogram__value {
  position: absolute;
  top: 24.86%;
  left: min(24px, 6.78%);
  font-size: var(--font-medium);
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: 0em;
  text-align: left;
}

.histogram__data {
  position: absolute;
  display: flex;
  top: 60%;
  left: min(26px, 7.34%);
  right: min(29px, 8.2%);
  height: 27.3%;
  color: var(--blue);
  gap: 1px;
  align-items:flex-end;
}

.histogram__column {
  flex-grow: 1;
  min-width: 1px;
  background: var(--blue);
}

.histogram__column_small {
  height: 33%;
}

.histogram__column_medium {
  height: 66%;
}

.histogram__column_large {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .histogram__header {
    font-size: calc(var(--font-small)*0.48);
  }
  .histogram__value {
    font-size: calc(var(--font-medium)*0.48);
  }
  .histogram {
    border-radius: calc(0.75em * 0.48);
  }
}
