.histogram {
  height: 100%;
  width: 100%;
  border: 1px solid var(--grey-3);
  border-radius: 0.75em;
  box-sizing: border-box;
  font-family: Inter;
  overflow: hidden;
  padding: 0 min(24px, 6.78%);
  display: flex;
  flex-direction: column;
}

.histogram::before, .histogram::after { /*динамический top/bot padding*/
  content: "";
  height: min(24px, 6.78%); 
}

.histogram__header {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-small);
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0em;
}

.histogram__title {
  text-align: left;
  white-space: nowrap;
}

.histogram__link {
    margin-top: 0.1875em;
    margin-left: 1.25em;
    text-align: right;
    color: var(--blue);
    text-decoration: none;
  }

.histogram__value {
  margin-top: 0.3em;
  margin-bottom: 1.95em;
  font-size: var(--font-medium);
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: 0em;
  text-align: left;
}

.histogram__data {
  color: var(--blue);
  display: flex;
  gap: 1px;
  align-items:flex-end;
  flex-grow: 1;
}

.histogram__column {
  flex-grow: 1;
  min-width: 1px;
  background: var(--blue);
}

.histogram__column_small {
  height: 33%;
}

.histogram__column_medium {
  height: 66%;
}

.histogram__column_large {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .histogram__header {
    font-size: calc(var(--font-small)*0.48);
  }
  .histogram__value {
    font-size: calc(var(--font-medium)*0.48);
  }
  .histogram {
    border-radius: calc(0.75em * 0.48);
  }
}
