.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  overflow: hidden;
}

.page_inner {
  background: var(--page-inner);
}

.page__main {
  display: grid;
  grid-template-columns: minmax(min-content, 20.6%) 1fr;
  grid-column-gap: 56px;
}

@media screen and (max-width: 768px) {
  .page__main {
    display: block;
    margin: 0 -16px; /* из-за padding 16px в контейнере*/
  }
}