@import './normalize.css';

@import '../fonts/fonts.css';

@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/navigation/navigation.css';
@import '../../components/tabs/tabs.css'; 
@import '../../components/card/card.css';
@import '../../components/footer/footer.css';
@import '../../components/container/container.css';
@import '../../components/component/component.css';
@import '../../components/menu/menu.css';
@import '../../components/logo/logo.css';


:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #4263eb;
    --red: #F03D3E;
    --grey-0: #F9FAFC;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);

    --primary-hover: #2342C0;
    --secondary-hover: #5028C6;

    --button-text: var(--white);
    
    --card-background: #2124290D;

    --modal-background: var(--white);
    --modal-title: #334D6E;
    --modal-text: (--grey-4);
    --modal-width: 25%;
    --modal-page-dim: rgba(196, 196, 196, 0.5);

    --calendar-item: #334D6E;
    --calendar-item-day: #90A0B7;
    --calendar-range-background: rgba(160, 177, 245, .2);

    --page-inner: var(--grey-0);

    --menu-item-active: #D84910;
}

body {
    font-family: 'Roboto', sans-serif;
    --font-s-small: 14px;
    --font-small: 16px;
    --font-medium: 20px;
}

html, body {
  min-height: 100vh;
}
