.radio {
  font-size: var(--font-small);
  display: inline-flex;
  position: relative;
}

.radio__input {
  position: absolute;
  width: 0;
  height: 0;
}

.radio__state {
  display: flex;
  align-items: center;
  gap: 0.75em;
  cursor: pointer;
}

.radio__control {
  box-sizing: border-box;
  border: 1px solid var(--grey-2);
  width: 1.75em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio__title {
  color: var(--gray-4, #495057);
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
}

.radio__icon {
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 1.125em;
  height: 1.125em;
}

.radio__input:disabled~.radio__state 
.radio__control {
  background: var(--grey-2);
}

.radio__input:disabled~.radio__state 
.radio__title {
  color: var(--grey-2);
}

.radio__input:disabled~.radio__state 
.radio__icon {
  display: none;
}

.radio__input:disabled~.radio__state {
  cursor: default;
}

.radio__input:checked~.radio__state 
.radio__control {
  border-width: 0.125em;
  border-color: var(--blue);
}

.radio__input:checked~.radio__state 
.radio__icon {
  background: var(--blue);
}

@media screen and (max-width: 768px) {
  .radio {
    font-size: calc(var(--font-small) * 0.8);
  }
}