@import "../../07-lection5/03-toggler/toggler.css";

.burger-menu {
  display: none;
  width: 0;
  height: 0;
  z-index: 1;
}

.burger-menu[data-open] {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background: var(--modal-page-dim);
}

.burger-menu[data-open] .burger-menu__menu {
  transform: translateX(100%);
}

.burger-menu__open {
  position: absolute;
  width: 1.5em; 
  height: 1.5em; 
  cursor: pointer;
}

.burger-menu__open_page {
  top: 1.25em;
  left: 1em;
}

.burger-menu__menu {
  box-sizing: border-box;
  position: absolute;
  top: 0; 
  left: -100%;
  max-width: 23.4375em;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  background: #F9FAFC;
  overflow: scroll;
  white-space: nowrap;
  transition: transform 0.3s linear;
}

.burger-menu__menu::-webkit-scrollbar {
  display: none;
}

.burger-menu__header {
  position: relative;
  height: 2em;
  display: flex;
  margin-bottom: 2em;
}

.burger-menu__close {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: -0.25px;
  width: 1em;
  height: 1em;
  background: var(--grey-2);
  border: 8px solid transparent;
  border-radius: 50%;
}

.burger-menu__logo {
  margin: auto;
  height: 2em;
}

.burger-menu__hr {
  margin: 0;
  height: 1px;
  border: 0px;
  background: var(--grey-2);
  width: 100%;
}

.burger-menu__toggler-state {
  font-family: Inter;
  font-size: var(--font-small);
  font-weight: 400;
  line-height: 2.5em;
  letter-spacing: 0em;
  flex: 1;
  justify-content: space-between;
  margin: 1.5625em 0 1.5em;
}

.burger-menu__title {
  font-size: var(--font-medium);
  color: var(--grey-3);
  font-family: Inter;
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: 0em;
  text-align: left;
  margin: 1.2em 0 0.8em;
}

.burger-menu__element {
  text-decoration: none;
  color:inherit;
  font-family: Inter;
  font-size: var(--font-small);
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0em;
  text-align: left;
  margin: 0.5em 0 0.5em;
}

.burger-menu__element_active {
  color: var(--menu-item-active);
}

.burger-menu__element:hover {
  opacity:50%;
  cursor: pointer;
}

.burger-menu__element:first-child {
  margin-top: 0;
}

.burger-menu__element:last-child {
  margin-top: 3.5em;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: block;
  }
}