.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: inherit;
}

@media screen and (min-width: 400px) {
  .background-image {
    background-image: url(./public/forest_400.jpg);
  }
}

@media screen and (min-width: 768px) {
  .background-image {
    background-image: url(./public/forest_768.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .background-image {
    background-image: url(./public/forest_1024.jpg);
  }
}

@media screen and (min-width: 2560px) {
  .background-image {
    background-image: url(./public/forest_2560.jpg);
  }
}