.preview {
  background: #F9FAFC;
}

.preview__cards {
    display: grid;
    grid-template-columns: repeat(3, calc(33.3333% - 15px));
    grid-template-rows: repeat(auto-fill, minmax(350px, auto));
    gap: 30px;
    padding: 68px 0px 92px 0px;
  }

  @media screen and (max-width: 768px) {
    .preview__cards {
      grid-template-columns: repeat(2, calc(50% - 15px));
      grid-template-rows: repeat(auto-fill, 231px);
      padding: 24px 0px;
    }
  }