.text-input {
  font-size: var(--font-medium);
  display: inline-flex;
  flex-direction: column;
}

.text-input__wrapper {
  display: flex;
  position: relative;
}

.text-input__input {
  width:100%;
  padding: 0.85em 0.8em 0.65em 1.2em;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: 0em;
  text-align: left;
  border: 1px solid var(--grey-2);
  border-radius: 0.35em;
  color: var(--grey-4);
  outline: none;
  transition: border 0.3s ease-out;
}

.text-input__icon {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: 0.8rem;
  width: 1.2em;
  height: 1.2em;
  display: none;
}

.text-input_invalid .text-input__input {
  border-color: var(--red);
}

.text-input_invalid .text-input__icon_error {
  color: var(--red);
  display: block;
}

.text-input_success .text-input__icon_success {
  color: #374FC7;
  display: block;
}

.text-input__input:focus {
  border: 1px solid var(--blue);
}

.text-input__input::placeholder {
  color: var(--grey-2);
}

.text-input__title {
  font-size: 0.6em; /*12px for 20px input*/
  margin-top: 1.06em;
  margin-bottom: 0.417em;
  color: var(--grey-3);
  font-family: Inter;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  text-align: left;
}
